            <div class="hero-foot">
                <div class="container">
                    <div class="tabs is-centered footer-tab-modified">
                        <ul class="footer-list-social">
                            <li class="social-icon-footer"><a target="blank" href="https://www.facebook.com/juancarlos.morenogarcia.716"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icon-footer"><a id="so-2" target="blank" href="https://www.instagram.com/cemoreno_/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-icon-footer"><a id="so-3" target="blank" href="https://www.linkedin.com/in/juan-carlos-moreno-garcia-2b7616b6/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="tabs is-centered">
                        <ul>
                            <li id="footer-modified-copy">&#169; Carlos Moreno 2018</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <script src="/bulma.js"></script>
        <script>
                var i = 0;
                var txt = 'hello@carlosmoreno.mx';
                var speed = 65;
                
                function typeWriter() {
                    if (i < txt.length) {
                        document.getElementById("mail-typed").innerHTML += txt.charAt(i);
                        i++;
                        setTimeout(typeWriter, speed);
                    }
                }
                
                window.onload = () => {
                    if(window.location.pathname === '/'){
                        typeWriter();
                        console.log('pu', window.location.pathname)                
                    }
                }
        </script>
    </body>
</html>