<%include partials/header.ejs%>

<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-7">
        <figure class="image is-4by3">
          <!-- <img src="/images/cm_landing.jpg" alt="Description"> -->
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        </figure>
      </div>
      <div class="column is-4 is-offset-1">
        <h1 class="title is-2">
          Random stuff here.
        </h1>
        <h2 class="subtitle is-4">
          Tecnología, negocios, viajes y libros. 
        </h2>
        <br>
        <p class="has-text-centered">
          <a href="/blog" class="button is-medium is-info is-outlined">
            Conoce más...
          </a>
        </p>
        <p id="mail-typed" class="has-text-centered"></p>
      </div>
    </div>
  </div>
</div>

<%include partials/footer.ejs%>