.navbar-item img{
    max-height: 2.75rem;
}

.action-buttons-modified {
    float: right;
    position: relative;
    top: -10px;
    margin-left: 2px;
}

.form-delete-modified{
    display: inline
}