.navbar-item img{
    max-height: 2.75rem;
}

.action-buttons-modified {
    float: right;
    position: relative;
    top: -10px;
    margin-left: 2px;
}

.form-delete-modified{
    display: inline
}

.header-logo-last-name{
    margin-left: 5px;
}

.navbar-logo-modified{
    font-size: 140%;
}