<%include ../partials/header.ejs%>

<% var total = meta.pages %>
<% var next = meta.nextPage %>

<script>
    $(document).ready(function(){
        var granTotal = <%= total %>
        var nextPage = <%= next %>
        var articles = $("#hero-body-blog > .container");
        $("#icon-action-footer").on("click", function(){
            $.ajax({
                method: 'GET',
                url: '/lastPost',
                data: {
                    page: nextPage,
                    total: granTotal
                }
            })
            .done(function(res){
                console.log('ajax res --', res.posts);
                var newContent = res.posts.map(function(post){
                    return ('<p>pup</p>')
                })
                articles.replaceWith(newContent);
            })
            .fail(function(err){                
                console.log('ajax err', err);
            })
        });
    });
</script>

<div class="columns is-fullheight">
    <div class="column left-side is-half-desktop is-hidden-touch">
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="title is-1">EF Stuff Here</div>
                    <div class="title is-5">Silenced byt the night</div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="column right-side is-half-desktop is-full-mobile">       
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-body" id="hero-body-blog">
                <div class="container">        
                
                <% posts.forEach(function(post){ %>
                    <% include ../partials/articles/list.ejs %>                        
                <% }) %>

                </div>
            </div>
        </section>
        <div class="hero-foot">
            <div class="container footer-container-action">
                <i class="fa fa-arrow-down" id="icon-action-footer"></i>
            </div>
        </div>
    </div>

    <!-- Sidebar blogs -->
</div>

<%include ../partials/footer.ejs%>